// ====================================================================================================================
// Fonts includes
// ====================================================================================================================

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}


@font-face {
    font-family: 'inter';
    src: url('../Fonts/Inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}


// Create the colors
$colorLight: #f0f7f4 !default;
$colorDark: #00060e !default;
$color1: #6932FD !default;
$color2: #732AFF !default;
$color3: #4E3DFB !default;
$color4: #6332FD !default;

// Create the some base properties to have nicer more symmetric UI
$base-spacing-unit: 24px !default;
$base-font-size: 16px !default;
$base-line-height: 1.6em !default;

// Spacing sizes
$spacing-smaller: $base-spacing-unit / 2.5 !default;
$spacing-small: $base-spacing-unit / 1.5 !default;
$spacing-normal: $base-spacing-unit !default;
$spacing-large: $base-spacing-unit * 1.5 !default;
$spacing-larger: $base-spacing-unit * 2 !default;
$spacing-largest: $base-spacing-unit * 3 !default;


// Font sizes
$font-smaller: $base-font-size / 1.6 !default;
$font-small: $base-font-size / 1.3 !default;
$font-normal: $base-font-size !default;
$font-large: $base-font-size * 1.3 !default;
$font-larger: $base-font-size * 2 !default;
$font-largest: $base-font-size * 3 !default;





// ==================================================================================================================
// Start of user styles 
// ==================================================================================================================

// Styles of the circle that follows the cursor
.circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 2px solid white;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 10;
}




.first-page {
    min-height: 100vh;

    background-image: linear-gradient(to right top, $color2, $color1);

    text-align: center;

    overflow: hidden;

    position: relative;

    >.main-content {
        position: absolute;

        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);


        >.logo {
            width: 170px;
        }

        >.introduction {
            margin-top: $spacing-large;
            color: $colorLight;
            max-width: $spacing-largest * 6;

            font-weight: 500;
        }
    }

    >button {
        position: absolute;
        left: 50%;
        bottom: 100px;

        padding: $spacing-small ;
        border-radius: 100%;
        border: none;

        background-color: $colorLight;

        cursor: pointer;

        >img {
            transform: translateY(20%);
            width: 15px;
        }

        &:hover {
            background-color: $colorLight;
        }


        animation-name: button-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: none;

        @keyframes button-animation {

            0%,
            20%,
            100% {
                transform: translate(-50%, 0%);

                box-shadow: 0px 0px 6px 0px $colorLight;
            }

            50%,
            70% {
                transform: translate(-50%, 50%);
                box-shadow: 0px 0px 22px 6px $colorLight;
            }
        }
    }


    >.bean-1,
    .bean-2 {
        border-radius: 300px;

        position: absolute;
        display: inline-block;

        transition: all 500ms ease-in;
    }

    >.bean-1 {
        width: 450px;
        height: 800px;
        transform: rotate(57.8deg);
        left: -300px;
        bottom: -370px;

        background-image: linear-gradient(to top, rgba($colorLight, 0.1), rgba($colorLight, 0.2), rgba($colorLight, 0.55));


        margin-bottom: -300px;
        margin-left: -300px;

        &.bring-forward {
            margin-left: 0px;
            margin-bottom: 0px;
        }
    }

    >.bean-2 {
        width: 300px;
        height: 800px;
        transform: rotate(42deg);
        right: -230px;
        top: -330px;

        background-image: linear-gradient(to top, rgba($colorLight, 0.7), rgba($colorLight, 0.3) 30%, rgba($colorLight, 0.01));
        margin-top: -250px;
        margin-right: -250px;

        &.bring-forward {
            margin-right: 0px;
            margin-top: 0px;
        }
    }

}

.second-page {

    position: relative;

    >div {
        display: inline-block;
        left: 400px;
        position: absolute;
        background-color: purple;
        animation: rotate 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }

    height: 100vh;
    background-color: red;
}

.third-page {
    height: 100vh;
    background-color: green;
}